<div class="row" id="product_search">
    <div class="col-md-5">
        <input class="form-control me-sm-2" type="text" (keyup)="send($event.target.value)" [(ngModel)]="productvalue"
            placeholder="Enter product">
        <table class="table table-hover">
            <tbody>
                <tr *ngFor="let prod of product" class="table-primary" (click)='getId(prod.pid)'>
                    <td scope="row">{{ prod.pid }}</td>
                    <td>{{ prod.pname }}</td>
                    <td>Rs.{{ prod.pprice | number : '1.2-2'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div class="card text-white bg-primary mb-3" *ngIf="productDis">
            <div class="row">
                <div class="col-md-5">
                    <div class="card text-white bg-secondary mb-3" style="max-width: 25rem; height: 100%;">
                        <div class="card-body">
                            <img src="{{this.selectedProduct.pimgurl}}" alt="product_image" height="140px" width="100%">
                            <h4 class="card-text">{{ this.selectedProduct.pname }}</h4>
                            <h5 class="card-text">{{ this.selectedProduct.pdesc }}</h5>
                            <h5 class="card-text">Rs.{{ this.selectedProduct.pprice | number : '1.2-2'}}</h5>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-6" style="margin-top: 1em;">
                    <div style="margin-bottom: 1em; display: flex; justify-content: center">
                        <span>
                            <i class="fa fa-minus" (click)="decrease()"></i>&nbsp;
                            <input type="number" style="max-width: 5rem; color: blueviolet;"
                                [(ngModel)]="quantity">&nbsp;
                            <i class="fa fa-plus" (click)="add()"></i>
                        </span>
                    </div>
                    <div style="display: flex; justify-content: center"> 
                        <span>
                            <button type="button" class="btn btn-primary btn-lg">Change</button>&nbsp;
                            <button type="button" class="btn btn-primary btn-lg">Add</button>
                        </span>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>