/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

body {
  /* background-image: url("https://i.pinimg.com/originals/b0/89/5e/b0895e18c30330c526d3866b1093c6b0.jpg");*/
  background-image: url("https://www.cargillsceylon.com/images/foodcity.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
