<!-- <img src="../../assets/images/home-background.jpg" alt="home-background-image" width="100%"> -->

<div class="card bg-light mb-3" style="max-width: 80%; margin-left: 10%; margin-top: -2%;">
    <div class="card-body">
        <h2 class="card-title" style="text-align: center;">Light card title</h2>
        <h4 class="card-text"></h4>
    </div>
</div>

<div class="row">
    <div class="col md 1">
        <i class="fa fa-chevron-left"></i>
    </div>
    <div class="col md 2">
        <div class="card text-white bg-primary mb-3" id="categoryBox">
            <div class="card-body"> 
                <h4 class="card-title">Fruits</h4>
                <img src="../../assets/icons/icons8-fruit-bag-96.png" alt="">
            </div>
        </div>
    </div>
    <div class="col md 2">
        <div class="card text-white bg-primary mb-3" id="categoryBox">
            <div class="card-body"> 
                <h4 class="card-title">Vegetables</h4>
                <img src="../../assets/icons/icons8-group-of-vegetables-96.png" alt="">
            </div>
        </div>
    </div>
    <div class="col md 2">
        <div class="card text-white bg-primary mb-3" id="categoryBox">
            <div class="card-body"> 
                <h4 class="card-title">Fruits</h4>
                <img src="../../assets/icons/icons8-fruit-bag-96.png" alt="">
            </div>
        </div>
    </div>
    <div class="col md 2">
        <div class="card text-white bg-primary mb-3" id="categoryBox">
            <div class="card-body"> 
                <h4 class="card-title">Vegetables</h4>
                <img src="../../assets/icons/icons8-group-of-vegetables-96.png" alt="">
            </div>
        </div>
    </div>
    <div class="col md 2">
        <div class="card text-white bg-primary mb-3" id="categoryBox">
            <div class="card-body"> 
                <h4 class="card-title">Fruits</h4>
                <img src="../../assets/icons/icons8-fruit-bag-96.png" alt="">
            </div>
        </div>
    </div>
    <div class="col md 2">
        <div class="card text-white bg-primary mb-3" id="categoryBox">
            <div class="card-body"> 
                <h4 class="card-title">Vegetables</h4>
                <img src="../../assets/icons/icons8-group-of-vegetables-96.png" alt="">
            </div>
        </div>
    </div>
    
    
    <div class="col md 1">
        <i class="fa fa-chevron-right"></i>
    </div>
</div>